<div id="<%= dom_id membre %>">
  <p>
    <strong>Mbid:</strong>
    <%= membre.mbID %>
  </p>

  <p>
    <strong>Fiantso:</strong>
    <%= membre.fiantso %>
  </p>

  <p>
    <strong>Anarana:</strong>
    <%= membre.anarana %>
  </p>

  <p>
    <strong>Fanampiny:</strong>
    <%= membre.fanampiny %>
  </p>

  <p>
    <strong>Tsyeo:</strong>
    <%= membre.tsyeo %>
  </p>

  <p>
    <strong>Fanamarih:</strong>
    <%= membre.fanamarih %>
  </p>

</div>
